:root {
    --bistre: #3F220F;
    --seal-brown: #69290C;
    --kobe: #923008;
    --flame: #E53D00;
    --pumpkin: #E57832;
    --seashell: #FEF3F0;
    --sunray: #E4B363;
    --sunburst: #8E7939;
    --bronze: #635C24;
    --army-green: #383E0E;
}

