@import "color.css";

.config, .login, .instructions {
    z-index: 50;

    position: absolute;
    bottom: 110%;
    left: 45%;
    opacity: 0;
    
    padding: 10px;
    
    background-color: rgba(228, 179, 99, 0.75);
    border-radius: 10px;
    border: 2px solid var(--bistre);

    box-shadow: 0 0 10px 3px var(--bistre);

    transition: 0.4s linear;
    color: var(--bistre);
}

.instructions {
    left: 20% !important;
    width: 60%;
}

.instructions-show {
    bottom: 15%;
}

.config-show, .login-show, .instructions-show {
    opacity: 100%;
}

.config-show {
    bottom: 30%;
}

.login-show {
    bottom: 40%;
}

.login h2 {
    margin: 0;
}

.form-header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Rock Salt", cursive;
    width: 100%;
}

.form-header i {
    cursor: pointer;
    margin-left: 10px;
}

.blur {
    background-color: transparent;

    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;

    z-index: 49;
    transition: background-color 0.4s ease-in-out;

    animation-duration: 0.4s;
    animation-name: bg-change;
    animation-fill-mode: forwards;
}

@keyframes bg-change {
    from {
        background-color: transparent;
    }
    to {
        background-color: rgba(0, 0, 0, 0.3);
    }
}

@keyframes bg-rewind {
    from {
        background-color: rgba(0, 0, 0, 0.3);
    }
    to {
        background-color: transparent;
    }
}

.disable {
    pointer-events: none;
}

#config-form, #configuration, #login-form, #login {
    display: flex;
    flex-direction: column;
}

.field, select {
    background: none;
    border: none;
    text-align: center;
    border-bottom: 2px solid var(--bistre);
    width: 90%;
}

.button {
    background: none;
    
    padding: 5px;
    border: 2px solid var(--bistre);
    border-radius: 10px;
    transition: 0.1s ease-in;
    cursor:pointer;

}

.button:hover {
    background: var(--bistre);
    color: var(--sunray)
}

#ranking-btn, #instructions-btn {
    z-index: 4;
    position: absolute;
    font-size: 40px;
    right: 10px;
    border-radius: 1000px;
    color: var(--bistre);
    background-color: rgba(228, 179, 99, 0.5);
    box-shadow: 0 0 10px 10px rgba(228, 179, 99, 0.5);
    transition: 0.1s linear;
}

#ranking-btn:hover, #instructions-btn:hover {
    color: var(--kobe);
    box-shadow: 0 0 12px 12px rgba(228, 179, 99, 0.5);
    cursor: pointer;
}

#ranking-btn {
    top: 50px;
}

#instructions-btn {
    bottom: 50px;
}