@import "color.css";

.config, .login, .instructions, .ranking, .message {
    z-index: 50;

    position: absolute;
    bottom: 150%;
    top: -150%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;

    width: fit-content;
    height: fit-content;
    max-width: 50%;
          
    padding: 10px;
    
    background-color: rgba(228, 179, 99, 0.75);
    border-radius: 10px;
    border: 2px solid var(--bistre);

    box-shadow: 0 0 10px 3px var(--bistre);

    transition: 0.4s linear;
    color: var(--bistre);
}

.instructions {
    max-height: 80%;
    overflow-y: scroll;  
}

#notifications {
    z-index: 5000;

    bottom: 1%;
    left: 10%;

    position: absolute;
    display: flex;
    flex-direction: column-reverse;

    align-items:flex-start;
    justify-content: center;
}

.notification {
    position: relative;
    padding: 10px;

    background-color: rgba(228, 179, 99, 0.75);
    border-radius: 10px;
    border: 2px solid var(--bistre);

    opacity: 0;

    bottom: 50px;
    left: 0;

    transition: .4s linear;
}

.notification-header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.notification-show {
    opacity: 100%;
    bottom: 0 !important;
}

.notification-hide {
    opacity: 0;
    left: 50px;
}

.notification * {
    margin: 0;
}

.config-show, .login-show, .instructions-show, .ranking-show, .message-show {
    opacity: 100%;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

#ranking-table {
    text-align: center;
}

#ranking-table td, th {
    border: 2px solid var(--bistre);
}

.login h2 {
    margin: 0;
}

.form-header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Rock Salt", cursive;
    width: 100%;
}

.form-header i {
    cursor: pointer;
    margin-left: 10px;
}

.blur {
    background-color: transparent;

    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;

    z-index: 49;
    transition: background-color 0.4s ease-in-out;

    animation-duration: 0.4s;
    animation-name: bg-change;
    animation-fill-mode: forwards;
}

@keyframes bg-change {
    from {
        background-color: transparent;
    }
    to {
        background-color: rgba(0, 0, 0, 0.3);
    }
}

@keyframes bg-rewind {
    from {
        background-color: rgba(0, 0, 0, 0.3);
    }
    to {
        background-color: transparent;
    }
}

.disable {
    pointer-events: none;
}

#config-div, #config-form, #login-div, #login-form {
    display: flex;
    flex-direction: column;
}

.field, select {
    background: none;
    border: none;
    text-align: center;
    border-bottom: 2px solid var(--bistre);
    width: 90%;
}

.button {
    background: none;
    
    padding: 5px;
    border: 2px solid var(--bistre);
    border-radius: 10px;
    transition: 0.1s ease-in;
    cursor:pointer;

}

.button:hover {
    background: var(--bistre);
    color: var(--sunray)
}

#ranking-btn, #instructions-btn {
    z-index: 4;
    position: absolute;
    font-size: 40px;
    right: 10px;
    border-radius: 1000px;
    color: var(--bistre);
    background-color: rgba(228, 179, 99, 0.5);
    box-shadow: 0 0 10px 10px rgba(228, 179, 99, 0.5);
    transition: 0.1s linear;
}

#ranking-btn:hover, #instructions-btn:hover {
    color: var(--kobe);
    box-shadow: 0 0 12px 12px rgba(228, 179, 99, 0.5);
    cursor: pointer;
}

#ranking-btn {
    top: 50px;
}

#instructions-btn {
    bottom: 50px;
}