:root {
    --bistre: #3F220F;
    --seal-brown: #69290C;
    --kobe: #923008;
    --flame: #E53D00;
    --pumpkin: #E57832;
    --seashell: #FEF3F0;
    --sunray: #E4B363;
    --sunburst: #8E7939;
    --bronze: #635C24;
    --army-green: #383E0E;
    --champagne: #F4E9CD;
    --dark-electric: #446579;
    --light-indigo: #274F6B;
    --dark-indigo: #09395D;
    --prussian: #16364C;
}

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:'Rock Salt', cursive;
}

#bg {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/bg.jpg") no-repeat center center;
    filter:brightness(110%);
}

input, label, select {
    margin: 0.5em;
}

.preload {
    transition: none !important;
    transition-delay: 0s !important;
}

.navbar {
    position: absolute;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 20%;
    
    background: linear-gradient(to right, var(--seal-brown) 5%, transparent 100%);
    color: var(--seashell);
}

.navbar #logo, .navbar .item {
    position: relative;
    right: 35%;
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar #logo {
    flex-shrink: 1;
    height: 100%;
    margin-top: 50px;
}

.navbar .item {
    font-size: 20px;
    flex-shrink: 0;
}

#container {
    z-index: 1;
    width: 100%;
    height: 100%;
}

#container #game-container {
    width: 100%;
    height: 100%;
}

.player-container {
    display: none !important;
}

#container #game-container #board {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

