:root {
    --champagne: #F4E9CD;
    --independence: #3D3A4B;
    --seaweed: #468189;
    --sheen: #77aca2;
    --opal: #9dbebb;
}

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
}

input, label, select {
    margin: 0.5em;
}


.preload {
    transition: none !important;
    transition-delay: 0s !important;
}

/*  HEADER AND TOP FORM
_____________________________________________*/

.navbar-container {
	display: flex;
	justify-content: space-between;
	background-color: var(--independence);
	align-items: flex-start;
	padding: 0;
    height: 20%;
    overflow: visible;
    padding-bottom: 0;
}

.navbar-container label, .navbar-container legend, .navbar-container h2, 
.navbar-container .config #config-form #configuration input {
    color: var(--champagne);
}

.navbar-container .content {
    height: 100%;
    margin-bottom: 0;
}

.navbar-container .config, .navbar-container .login {
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: var(--independence);
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar-container .login:hover #login-form,
.navbar-container .config:hover #config-form {
    transform: scaleY(1);
    border-top-width: 1px;
    transition-delay: 0s;
}

#login-form, #config-form {
    position: absolute;
    top: 100%;
    width: 100%;
    right: 0%;
    background-color: var(--independence);
    border-top: 0px solid var(--champagne);
    transform-origin: top;
    transform: scaleY(0);
    transition-property: transform, border-top-width;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.navbar-container .field, .navbar-container .button{
    font-size: 16px;
    position: relative;
}

.navbar-container .field {
    width: 93%;
}

.navbar-container .button {
    width: 100%;
}

.navbar-container #login, 
.navbar-container #configuration {
    padding: 2%;
}

.field {
    background: none;
    border: none;
    color: var(--champagne);
    border-bottom: 2px solid var(--champagne);
    margin-bottom: 10px;
    text-align: center;
}

.field:-moz-focusring {
    outline: none;
}

.button {
    background: none;
    border: 1px solid var(--champagne);
    border-radius: 5px;
    color: var(--champagne);
    transition: 0.2s;
}

.button:hover {
    background-color: var(--champagne);
    color: var(--independence);
}

.navbar-container .config h2, .navbar-container .login h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
    padding-right: 5%;
    height: 100%;
    margin-top: 35px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
}

.navbar-container .logo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo {
	padding-left: 10px;
	line-height: 2em;
	color: var(--champagne);
}

.opponent-field {
    color: var(--champagne);
}

/* BOARD AND GAME
_____________________________________*/

#container {
	height: 100%; /* Why is this not working */
	margin: 0 auto;
}

.cell-container {
	display: flex;
	border: 1px solid red;

}

#board {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /*1fr 1fr 1fr 1fr 1fr 1fr;*/	
	grid-template-rows: 1fr 1fr;

	background-color: sandybrown;
	margin: 10px auto;
	width: 70%;
}

.asidecell {
	grid-row-end: span 2;

	border-radius: 30%;
	border: 1px solid red;
	margin: 5px;
	text-align: center;

	height: 15em;
	background: radial-gradient(#000000, #DEB887);
}



.boardcell {
	flex: 1;
	border-radius: 30%;
	margin: 5px;
	text-align: center;

	background: radial-gradient(#000000, #DEB887);
}
