:root {
    --champagne: #F4E9CD;
    --independence: #3D3A4B;
    --seaweed: #468189;
    --sheen: #77aca2;
    --opal: #9dbebb;
}

html {
	height: 100%;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
}

/*  HEADER AND TOP FORM
_____________________________________________*/

.navbar {
    position: relative;
    height: 20%; /* 20% da janela toda*/
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	background-color: var(--independence);
	align-items: center;
	padding: 10px;
}

.navbar-container label, .navbar-container legend {
    color: var(--champagne);
}

.navbar-container .content {
    margin: 10px;
}

#logo {
    flex: 1;
	line-height: 2em;
	color: var(--champagne);
}

.campo {
	margin: 2px;
	width: 12em;
	border: 1px solid #ada484;
}

/* BOARD AND GAME
_____________________________________*/

#container {
	margin: 0 auto;
	height: 80%; /*80% da janela toda*/
	overflow-y: scroll;
}

#game-container {
	height: 100%;
}

#board {
    background: url("../img/board.jpg") no-repeat;
    background-size: 100% 100%;

	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-rows: 1fr 1fr;

	width: 100%;
	height: 90%; 
}

.cell-container {
	display: flex;
    margin: 0 2em;
}

.storage-container {
    display: flex;
    grid-row-end: span 2;
}

.board-cell {
    background: url("../img/cell.jpg") no-repeat;

    flex: 1;
	margin: 5px;

    text-indent: -99999px;
}

.storage-cell {
    background: url("../img/cell.jpg") no-repeat;
    background-size: 100% 100%;
	height: auto;
    width: 100%;
	margin: 3% 3%;

    text-indent: -99999px;
}

.board-cell, .storage-cell {
    border-radius: 10vh;
}

#left-storage {
	justify-content: right;
}




/* Info Containers 
__________________________________________________________________*/

#game-info-container {
	width: 100%;
	height: 10%;  /* O board ocupa 90% do container, este fica a ocupar 10%*/
	background-color: var(--seaweed);
	text-align: center;
}

#info-container {
	display: flex;
	width: 100%;
	height: 50%;
	background-color: var(--sheen);
	text-align: center;
}

.info {
	color: var(--champagne);
	width: 50%;
	border-right: 1px solid gray;
}