:root {
    --champagne: #F4E9CD;
    --independence: #3D3A4B;
    --seaweed: #468189;
    --sheen: #77aca2;
    --opal: #9dbebb;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

/*  HEADER AND TOP FORM
_____________________________________________*/

.navbar {
    position: relative;
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	background-color: #3D3A4B;
	align-items: center;
	padding: 10px;
}

#logo {
	line-height: 2em;
	color: #F4E9CD;
}

#password {
	margin-left: 5px;
}

.campo {
	margin: 2px;
	width: 12em;
	border: 1px solid #ada484;
}

/* BOARD AND GAME
_____________________________________*/

#container {
	height: 100%; /* Why is this not working */
	margin: 0 auto;
}

.cell-container {
	display: flex;
	border: 1px solid red;

}

#board {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /*1fr 1fr 1fr 1fr 1fr 1fr;*/	
	grid-template-rows: 1fr 1fr;

	background-color: sandybrown;
	margin: 10px auto;
	width: 70%;
}

.asidecell {
	grid-row-end: span 2;

	border-radius: 30%;
	border: 1px solid red;
	margin: 5px;
	text-align: center;

	height: 15em;
	background: radial-gradient(#000000, #DEB887);
}



.boardcell {
	flex: 1;
	border-radius: 30%;
	margin: 5px;
	text-align: center;

	background: radial-gradient(#000000, #DEB887);
}
