@import "color.css";

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: row;
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Patrick Hand SC', cursive;
    overflow-x: hidden;
}

#bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/bg.jpg") no-repeat center center;
    filter:brightness(100%);
}

input, label, select {
    margin: 0.5em;
}

.preload {
    transition: none !important;
    transition-delay: 0s !important;
}

.navbar {
    position: fixed;
    z-index: 6;
    top: 0;
    left:0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    height: 100%;
    width: 20%;

    min-height: 0;
    
    background: linear-gradient(to right, var(--seal-brown) 25%, transparent 100%);
    color: var(--seashell);
}

.navbar #logo, .navbar .item, .navbar .button {
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 0;
}

.navbar .item {
    letter-spacing: -5px;
    font-weight: bold;
}

.navbar #logo, .navbar .button, .navbar .nav-items {
    position: relative;
    right: 37%;
}

.navbar .nav-items {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: center;
}

.navbar .nav-items .nav-item {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    cursor: pointer;

    transition: 0.1s linear;
}

.navbar .nav-items .nav-item:hover {
    color: var(--sunray);
}

.navbar .nav-items .nav-item .nav-label {
    margin-top: 0;
}

.navbar #logo {
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin-top: 50px;
    font-family:'Rock Salt', cursive;
    min-height: 0 !important;
}

#play {
    background: none;
    border: 5px solid var(--sunray);
    
    padding: 10px;
    border-radius: 1000px;
    transition: 0.1s ease-in;
    color: var(--seashell);
    cursor:pointer;
}

#play:hover {
    background: var(--bistre);
}

#container {
    z-index: 1;
    position: relative;
    left: 10%;
    width: 90%;
    height: 100%;
}

#container #game-container {
    display: flex;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
}

.player-container {
    display: none !important;
}

#board {
    display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-rows: 1fr 1fr;
    
    width: 90%;
    height: 60%;
}

.cell-container {
    display: flex;
    margin: 0.5em 1em;
}

.storage-container {
    display: flex;
    grid-row-end: span 2;
    justify-content: center;
}

.board-cell {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.3);
    
    flex-grow: 1;
	margin: 0.6em;
    
    text-indent: -99999px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
    overflow: hidden;

    cursor: pointer;
}

.board-cell:hover {
    box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.1);
}

.seed {
    position: absolute;
    width: 3em;
    height: 2em;
    background: url(../img/seed.png);
    background-size: 100% 100%;
    filter: brightness(90%);
    
    margin: 5px;
}

.storage-cell {
    z-index: 3;
    background: var(--bistre);
    overflow: hidden;

    display: flex;
    
	margin: 1em 1em;
    align-self: center;
    
    align-items: center;
    
    text-indent: -99999px;
    height: 29%;
    width: 7%;
}

.storage-cell, .storage-wrapper {
    position: fixed;
}

.storage-wrapper {
    background-color: var(--sunray);
    align-self: center;
    box-shadow: -10px 10px 7px 0 rgba(0, 0, 0, 0.3);
    height: 33%;
    width: 9%;
}

.highlighted {
    background-color: var(--flame) !important;
}

.board-cell, .storage-cell, .storage-wrapper {
    border-radius: 10vh;
}   

#left-storage {
	justify-content: right;
}

.score-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    font-size: 25px;
    font-weight: bold;
    color: var(--bistre);
    border-radius: 1000px;
    background-color: rgba(228, 179, 99, 0.3);
    box-shadow: 0 0 10px 10px rgba(228, 179, 99, 0.3);
    margin: 0;
}