/*  HEADER AND TOP FORM
_____________________________________________*/
header {
	display: flex;
	justify-content: space-between;
	background-color: red;
	align-items: center;
	padding: 10px;
	border: 1px solid gray;
}

h1 {
	line-height: 2em;
	color: darkgray;
}

#password {
	margin-left: 5px;
}

.campo {
	margin: 2px;
	width: 12em;
	border: 1px solid #ada484;
}

/* BOARD AND GAME
_____________________________________*/

#container {
	height: 100%; /* Why is this not working */
	margin: 0 auto;
}

.cell-container {
	display: flex;
	border: 1px solid red;

}

#board {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /*1fr 1fr 1fr 1fr 1fr 1fr;*/	
	grid-template-rows: 1fr 1fr;

	background-color: sandybrown;
	margin: 10px auto;
	width: 70%;
}

.asidecell {
	grid-row-end: span 2;

	border-radius: 30%;
	border: 1px solid red;
	margin: 5px;
	text-align: center;

	height: 15em;
	background: radial-gradient(#000000, #DEB887);
}



.boardcell {
	flex: 1;
	border-radius: 30%;
	margin: 5px;
	text-align: center;

	background: radial-gradient(#000000, #DEB887);
}
